{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="bg-dark collapse" id="navbarHeader" style="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Inspired by sites such as placehold.it and placekitten.com, { placematts } is a quick and simple service for getting pictures of Matt's for use as placeholders in your designs or code.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://twitter.com/rick_west8" class="text-white" target="_blank">Follow me on Twitter</a></li>
                            <li><a href="https://medium.com/@rickwest8" class="text-white" target="_blank">Read my stories on Medium</a></li>
                            <li><a href="mailto:rickwestdev@gmail.com" class="text-white" target="_blank">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="{{ url('homepage') }}" class="navbar-brand d-flex align-items-center">
                    <strong>{ placematts }</strong>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{ placematts }</h1>
            <p class="lead text-muted">Yet another placeholder site. For people who like Matt's.</p>
        </div>
    </section>

    <div class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-block">
                            <p class="card-text"><strong>A quick and simple service for getting pictures of Matt's for use as placeholders in your designs or code.</strong></p>
                            <p>Just put your image size (width & height) after our URL and you'll get a placeholder.</p>
                            <div class="alert alert-info" role="alert">
                                Like this: <a href="{{ url('image', {width: 200, height: 300}) }}">{{ url('image', {width: 200, height: 300}) }}</a>
                                <br>
                                or greyscale: <a href="{{ url('greyscale', {width: 200, height: 300}) }}">{{ url('greyscale', {width: 200, height: 300}) }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <img src="{{ asset('Images/Matts/1.png') }}" alt="A picture of Matt" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card">
                        <img src="{{ asset('Images/Matts/2.png') }}" alt="A picture of Matt" class="img-responsive">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <img src="{{ asset('Images/Matts/3.png') }}" alt="A picture of Matt" class="img-responsive">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-xs">
                        <img src="{{ asset('Images/Matts/4.png') }}" alt="A picture of Matt" class="img-responsive">
                    </div>
                    <div class="card card-xs">
                        <img src="{{ asset('Images/Matts/5.png') }}" alt="A picture of Matt" class="img-responsive">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-xs">
                        <img src="{{ asset('Images/Matts/6.png') }}" alt="A picture of Matt" class="img-responsive">
                    </div>
                    <div class="card card-xs">
                        <img src="{{ asset('Images/Matts/7.png') }}" alt="A picture of Matt" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>{ placematts } built by <a href="https://rickwest.co.uk" target="_blank">Rick West</a></p>
            <p>Inspired by <a href="http://placehold.it" target="_blank">placehold.it</a> | <a href="http://placekitten.com" target="_blank">placekitten.com</a> | and many more...</p>
        </div>
    </footer>
{% endblock %}
